.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid yellowgreen;
  height: 300px;
  width: 300px;
  margin: 50px auto;
  position: relative;
}

 .paginationWrapper button {
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 50px;
}